.AboutList {
    margin: 2% 20% 0 20%;
}

.AboutList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.AboutList li {
    cursor: default;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    background-color: white;
}

.AboutList li:hover,
.AboutList li:active {
    box-shadow: 0 4px 5px #ccc;
}

.AboutList p {
    margin: 0 15px 15px 15px;
}