.Main ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Main li {
    display: inline-block;
    margin: 0 5px 0 5px;
}

.Main a {
    text-decoration: none;
    color: #d5d5d5;
}

.Main a:hover,
.Main a:active,
.Main a.active {
    color: white;
    /*color: #fa923f;*/
}