.logo {
    color: white;
}

.logo, .main-nav {
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    display: block;
}

.Main li {
    display: inline-block;
    margin: 0 5px 0 5px;
}

.Main a {
    text-decoration: none;
    color: #d5d5d5;
}

.Main a:hover,
.Main a:active,
.Main a.active {
    color: white;
}