.App {
    height: 100%; /* needed for proper layout */
    display: flex;
    flex-direction: column;
}

.App-header {
    /*padding: 25px;*/
    /*flex: 0 0 auto;*/
    background-color: #213B82;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.App-content {
    text-align: center;
    flex: 1 1 auto;
    position: relative; /* need this to position inner content */
    overflow-y: auto;
    background-color: #FAFBFC;
}

.App-footer {
    padding: 20px;
    flex: 0 0 auto;
    color: #d5d5d5;
    background-color: #1D325C;
}