.Contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 1.2em;
}

.Contact a {
    text-decoration: none;
    padding: 10px;
    font: inherit;
    background-color: transparent;
    color: #1D325C;
    cursor: pointer;
}

.Contact a:hover,
.Contact a:active {
    color: black;
}