.Contact {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.Contact a {
    text-decoration: none;
    padding: 10px;
    font: inherit;
    border: 1px solid #213B82;
    background-color: transparent;
    color: #1D325C;
    cursor: pointer;
}

.Contact a:hover,
.Contact a:active {
    color: white;
    background-color: #213B82;
}